
.App {
  background-color: #282c34;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: aliceblue;
  padding-bottom: 5%;
}

.login {
  position:absolute; 
  right: 0;
}

.calendar {
  position: relative;
  top: 60px;
  text-align: center;
}

.CalendarView{  
  color: black;
  height: 500px;
  background-color: aliceblue;
  font-size: 70%;
}

.button {
  position: relative;
  top: 70px;
}

.table {
  position: relative;
  top: 70px;
  text-align: center;
  font-size: 70%;
}

.customerInfoDiv{
  position: relative;
  top: 70px;
  text-align: center;
  color: aliceblue;
}


a:link {
  color: rgb(83, 118, 182);
}

a:visited {
  color: rgb(76, 129, 76);
}

a:hover {
  color: rgb(163, 66, 66);
}

a:active {
  color: rgb(65, 101, 155);
}
